source https://nuget.org/api/v2

framework: auto-detect
storage: none

nuget FSharp.Core
nuget Fable.Elmish.HMR
nuget Fable.Core
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Browser.Dom
nuget Fable.Browser.WebGL

group Build
    source https://nuget.org/api/v2

    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.JavaScript.Npm